<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="https://www.thymeleaf.org" 
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	
  <head>
    <title>ログイン画面</title>
    <meta http-equiv="Content-Type" 
      content="text/html; charset=UTF-8" />
	  <link th:href="@{/css/login.css}" rel="stylesheet" />
  </head>
  
  <body>
	
	<header>
			<div class="header">
				<div class="header-container"><div>My PortFolio</div>
			</div>
		</header>
	<div class="container">
			
    <h1>ログイン</h1>
    <p th:text="${msg}"></p>
	
    <form th:action="@{/user/top}" method="post">
		
      <div class="mb-3">
        <label class="form-label">メールアドレス</label>
        <input type="text" name="email"
            class="form-control" />
      </div>
	  
      <div class="mb-3">
        <label class="form-label">パスワード</label>
        <input type="password" name="password"
            class="form-control" />
      </div>
	  
      <div class="text-center">
        <input type="submit" value="ログインする"
            class="btn-primary" />
      </div>
	 
	 </div>
	  
   </form>
   
   <div class="text-center">
   	    <input type="submit" onclick="location.href='signin'" value="新規登録する"
   	        class="btn-primary" />
   	  </div>
	
  </body>
  
  <footer>
  		<div class="footer">
  			<div class="footerlogo">portfolio site</div>
  		</div>
  	</footer>
	
</html>
